/* Global Styles */

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #78a183;
  --secondary-color: #e3dee3;
  --accent1-color: #1b263b;
  --accent2-color: #000;
  --accent3-color: #8b2635;

  --font--incosolata: "Inconsolata", monospace;
  --font--montserrat: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--accent1-color);
  font-family: var(--font--incosolata);
}

p {
  color: var(--accent1-color);
  font-family: var(--font--montserrat);
}

hr {
  margin: 5px;
  border: 1px solid var(--accent1-color);
}

label,
form p {
  color: var(--secondary-color);
}

/* Header */
.header--container {
  background-color: var(--secondary-color);
  display: grid;
}

.header__top {
  display: flex;
  margin: 20px 10px;
}

.header__logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  margin: 0 5px 0 0;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.header__big {
  font-weight: bold;
  font-size: 1em;
}

.header__icons__container {
  width: 20%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.header__links {
  margin: auto;
}

.fa-facebook {
  color: #3b579d;
}

.fa-linkedin {
  color: #0377b5;
}

.header__menu {
  margin: auto 20px auto 5%;
  padding: 2.5px;
  font-size: 30px;
  color: black;
  background-color: var(--secondary-color);
  box-shadow: none;
  border: 1px solid black;
}

#header__lists__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
}

#header__lists__container a {
  padding: 0.5rem;
  text-align: center;
}

.header__lists {
  text-align: left;
  border: 1px solid var(--accent2-color);
  text-decoration: none;
  color: var(--accent1-color);
  margin: 10px;
}

.header__lists:hover {
  text-decoration: underline;
  color: var(--accent3-color);
  background-color: var(--primary-color);
}

.icon {
  margin: auto 5px;
}

.fa-bars {
  color: var(--accent3-color);
  padding: 12px;
  margin: 10px;
  background-color: var(--primary-color);
}

.fa-bars:hover {
  background-color: var(--accent3-color);
  color: white;
}

.responsive .header__lists {
  display: none;
}

.header__bottom {
  border: 1px solid black;
  padding: 10px;
  margin: auto auto 10px auto;
  background-color: rgba(220, 207, 220, 1);
}

.header__date {
  text-align: center;
}

/* Main */

main {
  background-color: var(--accent3-color);
}

.main--container {
  display: grid;
  grid-gap: 10px;
  padding: 10px 10px 10px 0;
  justify-content: center;
}

.main__hero,
.main__event,
.main__weather,
.main__news,
.main__spotlights {
  background-color: var(--primary-color);
  border: 1px solid black;
}

.main__hero {
  position: relative;
}

.main__hero__background img {
  width: 100%;
  height: auto;
}

.main__hero__button {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 3px;
  border-radius: 20%;
  box-shadow: none;
  border: none;
  opacity: 90%;
  font-size: 1.5em;
  background-color: var(--primary-color);
}

.main__hero__button:hover {
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  opacity: 100%;
  cursor: pointer;
}

.main__event {
  display: flex;
  flex-direction: column;
}

.main__event > * {
  margin: auto;
  text-align: center;
}

.main__event__description a {
  color: var(--accent2-color);
}

.main__weather {
  display: flex;
  flex-direction: column;
}

.main__weather > * {
  text-align: center;
}

.main__weather__container {
  display: flex;
}

.main__weather__container > * {
  margin: 0 auto;
}

.main__weather__lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.fa-cloud {
  color: #8cc9e0;
}

.main__news > * {
  text-align: center;
  margin: 5px;
}

.main__spotlights {
  display: grid;
  grid-auto-rows: auto;
  padding: 20px;
}

.main__spotlight__one {
  border: 1px solid black;
  border-bottom: 0;
}
.main__spotlight__one > *,
.main__spotlight__two > *,
.main__spotlight__three > * {
  text-align: center;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
}

.fa-bus,
.fa-music,
.fa-hotdog {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.main__spotlight__two {
  border: 1px solid black;
}

.main__spotlight__three {
  display: none;
}

.main__join {
  display: none;
  height: 0;
}

.main__join__button {
  width: 80%;
  font-size: 2rem;
  margin: 10px auto;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: var(--secondary-color);
}

.main__join__button:hover {
  background-color: var(--accent3-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.main__join__description {
  text-align: center;
}

/* Main Discover Page */
.main__image {
  width: 70%;
  margin: auto;
}

.main--container p {
  text-align: center;
  color: var(--secondary-color);
}

/* Footer */
.footer--container {
  background-color: var(--secondary-color);
  padding-bottom: 10px;
}

.footer__top {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 8em;
  margin: 10px auto;
}

.footer__title,
.footer__address,
.footer__email,
.footer__phone,
.footer__location,
.footer__copyright,
.footer__name,
.footer__project,
.footer__modification {
  text-align: center;
  padding: 2.5px;
}

.footer__title {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 0;
}

.footer__copyright,
.footer__project,
.footer__modification {
  font-size: 0.8em;
}

.footer__bottom p,
.footer__bottom span {
  font-size: 1em;
}
