@media (min-width: 32.5em) {
  .name {
    color: #feff4b;
  }
  hr {
    border: 1px solid black;
  }
  .header__container,
  .footer__container {
    background-color: #0042aa;
  }
  .body__wrapper {
    width: 80%;
    max-width: 580px;
    min-width: 500px;
  }
  .header__container,
  .footer__container {
    width: 100%;
  }
}
